<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post page</title>
</head>
<body>
    <h1>Fill the post form</h1>
     <form action="/newPost" method="POST">
        <input type="text" name="name" placeholder="Your Name">
        <input type="text" name="local" placeholder="Your Local">
        <input type="text" name="text" placeholder="Your post">
        <input type="submit" value="Send Post">
    </form>
</body>
</html>